<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    *
    {
        margin: 0%;
        padding: 10px;
    }
    .wrap
    {
        width: 100%;
        height: auto;
    }
    .header
    {
        background-color: black;
        height: 200px;
    }
    .header li
    {
        float: right;
        color: white;
        list-style-type: none;
        font-size: 40px;
        padding-top: 30px;
    }
    /*abbout maing pge*/

    .nav
    {
        background-image: url("co11.jpg");
        height: 1000px;
        background-size: 100%;
        background-repeat: no-repeat;
        
    }
    /* ABOUT*/
    .pge
    {
        height: 800px;
       
        background-color: bisque;
        
    }
    h1
    {
        margin-left: 100px;
        margin-top: 150px;
    }
    img
    {
        border: 2px solid black;
    }
    .menu
    {
        background-color:  #273746 ;
        height: 1200px;
    }
    </style>
</head>
<body>
     <div class="wrap">
         <div class="header"> 
             <img src="cologo.jpg" width="150px" height="100px" style="padding-left: 50px; padding-top: 50px;">
              <w style="font-size: 80px; color: white;"> <i> JAGADAMBHA CAFETERIA</i></w>
              <li>WEL-COME</li>
              <li>OWNER <a href="form_login.html"> LOGIN </a></li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              <li>STUDENT<a href="form_login.html"> LOGIN </a></li>


         </div>

         <div class="nav">
             <center style="font-size: 170px; padding-top: 360px; color: white;"> Central CoFFee</center>
             <center style="font-size: 60px; color: white;">Hello to you! you will find food harmony, and Laughter</center>
         </div> 
         
         <div class="pge"> 
              <h1> ABOUT</h1>
              <p style="text-align: justify; margin-left: 100px; "> Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain
                 flowering plants in the Coffea genus. ... It is usually served hot, although chilled or iced coffee is common.
                 Sugar, sugar substitutes, milk or cream are often used to lessen the bitter taste or enhance the flavor
                 Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain
                 flowering plants in the Coffea genus. ... It is usually served hot, although chilled or iced coffee is common. 
                 Sugar, sugar substitutes, milk or cream are often used to lessen the bitter taste or enhance the flavor
                 Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain
                 flowering plants in the Coffea genus. ... It is usually served hot, although chilled or iced coffee is common.
                 Sugar, sugar substitutes, milk or cream are often used to lessen the bitter taste or enhance the flavor
                 Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain
                 flowering plants in the Coffea genus. ... It is usually served hot, although chilled or iced coffee is common.
                 Sugar, sugar substitutes, milk or cream are often used to lessen the bitter taste or enhance the flavor.</p>
               
                 <table>

                    <th style="padding-left: 100px;"> <img src="co9.jpg" width="300px" height="300px"></th>
                    <th> <img src="co4.jpg" width="300px" height="300px"></th>
                    <th> <img src="co6.jpg" width="300px" height="300px"></th>
                    <th> <img src="co8.jpg" width="300px" height="300px"></th>
                 </table>

            </div>


            <div class="menu">
                <h2 style="color: white; margin-top: 100px; margin-left: 100px; font-size:40px;">Menu</h2>
                <p style="text-align: justify; margin-left: 100px; color: white;"> 
                    Milk is an excellent source of vitamins and minerals, 
                    Milk is an excellent source of vitamins and minerals, 
                    including “nutrients of concern,
                    ” which are under-consumed by many populations ( 3 ). 
                    It provides potassium, B12, calcium and vitamin D
                    , which are lacking in many diets
                     ( 4 ). 
                    Milk is also a good source of vitamin A, 
                    magnesium, zinc and thiamine (B1)
                    including “nutrients of concern,
                    ” which are under-consumed by many populations ( 3 ). 
                    It provides potassium, B12, calcium and vitamin D
                    , which are lacking in many diets
                     ( 4 ).  Milk is an excellent source of vitamins and minerals, 
                     Milk is an excellent source of vitamins and minerals, 
                     including “nutrients of concern,
                     ” which are under-consumed by many populations ( 3 ). 
                     It provides potassium, B12, calcium and vitamin D
                     , which are lacking in many diets
                      ( 4 ). 
                     Milk is also a good source of vitamin A, 
                     magnesium, zinc and thiamine (B1)
                     including “nutrients of concern,
                     ” which are under-consumed by many populations ( 3 ). 
                     It provides potassium, B12, calcium and vitamin D
                     , which are lacking in many diets
                      ( 4 ). 
                    Milk is also a good source of vitamin A, 
                    magnesium, zinc and thiamine (B1)..</p>

                    <table style="padding-left: 250px;">
                        <th> <p style="font-size: 40px; color: white;"> Drink</p><img src="co16.jpg" width="450px" height="450px"></th>
                        <th style="padding-left: 150px;"> <p style="font-size: 40px; color: white;"> Food</p><img src="co15.jpg" width="450px" height="450px"></th>
                    </table>>
            </div>
</body>
    
</html>