<!--
Author - Shubham Vaidya
Date Created- 2022-06-30
-->




<!doctype html>
<html lang="en">
  <head>
  <body style="background-color:powderblue;"></body>
  

  <title>ADDING NEW ITEAMS</title>
  </head>




  
<h1> <center> <p style="color:red;" <b> JCOET Canteen </center></b> </p> </h1><hr>

<body>
  <div style = "position:relative; left:500px; top:2px; ">
     <h1>Add New Items To The Menu Card  ..</h1>


    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="fname">Name Of Item:</label><br>
      <br>
      <input type="text" name="item" ><br>
      <br>
      <label for="lname">Price of Item:</label><br>
      <br>
      <input type="number" name="rate" ><br><br>
      <label for="image"> Upload image </label>
      <input type="file" name="image" > <br><br>
      <input type="submit" value="Submit">
    </form> 
  </div>
</html>