<!DOCTYPE html>
<head>
<title>POLLING BOOTH</title>
<link rel="stylesheet" href="css/style.css"type="text/css">
</head>
<body>

<h1 text-align="center">Online voting system</h1></hr>
<hr>
<fieldset>
<legend >Registration form</legend>
</hr>
<br><br>
<form action="get">

<center>
<tr>
<td>Full Name :</td><td><input type="text" name="name"  placeholder="Enter Name" text-align="center" ><td>
</tr><br><br>
<tr>
<td>Mobile Number :</td><td><input type="Number" name="Mobile"  placeholder="Enter mobile" text-align="center"></td>
</tr><br><br>
<tr>
<td>Password :</td><td><input type="Password" name="Password"  placeholder="Enter password" text-align="center"></td>
</tr><br><br>
<tr>
<td>Confirm Password :</td><td><input type="Password" name="cpassword"  placeholder="Confirm password" text-align="center"></td>
</tr><br><br>
<tr>
<td>Address :</td><td><input type="text" name="Address"  placeholder="Enter Address" text-align="center" width = 30%></td>
</tr><br><br>
<tr>
<td>Gender:</td><td><input type="radio"name="gen"value="Male" text-align="center">Male
        <input type="radio"name="gen"value="Female" text-align="center">Female
	</td></tr>	
<br><br>
<tr>
<td>Email :</td><td><input type="Email" name="Email"  placeholder="Enter Email"></td>
</tr><br><br>
<tr>
<td>Upload image:</td><td><input type="file" name="photo" text-align="center" border:2px solid black;border-radius:5px; padding:10px;width:30%></td>
</tr><br><br>
<tr>
<td>select role: </td><td><Select name="role"><option value="1" text-align="center">Voter</option>
<option value="2">Group</option></td>
</select></tr><br><br>
<button  style="padding: 5p;font-size:15px;background-color:#3498db;color:white;border-radius: 5px;" >Register</button> <button  style="padding: 5p;font-size:15px;background-color:#3498db;color:white;border-radius: 5px;" >cancel</button><br><br>

Alredy user? <a href="login.html">login here</a>

</form>
</fieldset>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>