{% load static %}
<!--doctype html-->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Awesome Website HTML</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'userui.css' %}"/>
<!--using-font-awesome-------->
	<script src="{% static 'userui.js' %}" crossorigin="anonymous"></script>
</head>
<body>
	<!--main-section-------------->
	<section id="main">
	<!--navigation---------->
	<nav>
	<!--logo-------->
	<a href="#" class="logo"><img alt="logo" src="{% static 'logo.png' %}"></a>
	<!--menu-bar-icon---------->
	<div class="menu-icon"></div>
	<!--menu--------->
	<ul class="menu">
	<li><a href="#">Home</a></li>	
	<li><a href="#">About</a></li>	
	<li><a href="#">Contact</a></li>	
	<li><a href="#">Team</a></li>	
	</ul>
	</nav>
	<!--box---------------->
	<div class="main-box">
	<!--text---------->
	<div class="text">
		<span><font>We Do </font>What You Want</span>
		<h2>User Interface</h2>
		<p>Minimal And Beautiful User Interface For Your Upcoming Projects.</p>
		<!--btn--------->
	<a href="#" class="btn">Our Work</a>
	</div>
	<!--img------------->
	<div class="img">
	<img alt="interface" src="{% static 'interface.png' %}">	
	</div>
	</div>
	<!--footer----------->
	<footer>
	<!--social-------->
	<div class="social">
	<a href="#"><i class="fab fa-facebook-f"></i></a>	
	<a href="#"><i class="fab fa-twitter"></i></a>	
	<a href="#"><i class="fab fa-youtube"></i></a>	
	</div>
	<!--copyright---------->
	<div class="copyright">Copyright 2020 - Altafkhan_6198</div>
	</footer>
    
	<!--arrow----------->
	<div class="arrow"></div>
	</section>
	<!--subscribe-section----------->
	<section class="subscribe">
	<!--img------->
	<h2>Subscribe For Posts Notifications</h2>
	<!--input----------------->
	<div class="search">
	<input type="text" placeholder="Altafk6198@gmail.com"/>
	<a href="{% url 'menu' %}">Send</a>
	</div>
	<!--copyright----->
	<div class="right">Copyright 2020 - Altafkhan_6198</div>
	</section>
	
	<!--JQuery--------------->
	<script type="text/javascript" src="{% static 'userui.js' %}"></script>
</body>
</html>
